body{
    background-color: #9bbda4;
}
.main-container{
    margin: 50px;
    background-color: #ffffff;
}
.btn-publish{
    float: right;
    margin-bottom:15px ;
}
.media-text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-object{
    width: 38px;
    height: 38px;
}
.profile .section{
    margin: 10px;
}
.question-edit-menu span{
    color: #999;
}