<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">DMgirl Community</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/npm.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main-container profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${sectionName}"><span class="glyphicon glyphicon-list" aria-hidden="true" ></span> 发现</h2>
            <hr>
<!--            个人发布的帖子-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='mypub'}">
                <div class="media" th:each="question:${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.user.avatarUrl}"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/question/'+${question.id}}">
                            <h4 class="media-heading" th:text="${question.title}">求文</h4></a>
                        <span th:text="${question.content}">类似《xxx》的……</span>
                        <div class="media-text-desc">
                            <span th:text="${question.tag}"></span>
                            <span th:text="${question.likeCount}"></span>人喜欢 -
                            <span th:text="${question.viewCount}"></span>次浏览 -
                            <span th:text="${question.commentCount}"></span>个回复 -
                            <span th:text="${#dates.format(question.gmtModified,'yyyy-MM-dd HH-mm-ss')}"></span>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage&&pagination.lastPage>=5}">
                            <a th:href="@{/profile/mypub (page=1)}">
                                <span aria-hidden="true" >&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious||pagination.lastPage<5}">
                            <a th:href="@{/profile/mypub (page=${pagination.curPage-1})}">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li  th:each="page:${pagination.pages}" th:class="${page==pagination.curPage?'active':''}">
                            <a  th:href="@{/profile/mypub (page=${page})}"
                            ><span th:text="${page}">1 (current)</span></a>
                        </li>
                        <li th:if="${pagination.showNext||pagination.lastPage<5}">
                            <a th:href="@{/profile/mypub (page=${pagination.curPage+1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--                    <li th:class="${pagination.showLastPage?'':'disabled'}">-->
                        <li th:if="${pagination.showLastPage&&pagination.lastPage>=5}">
                            <a th:href="@{/profile/mypub (page=${pagination.lastPage})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
<!--            消息通知-->
<!--            <span th:text="${pagination.data}"></span>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}">
                <div class="list-group section" >
                    <li th:each="reply:${pagination?.data}">
                        <span class="label label-danger" th:if="${reply.status==0}">未读</span>
                        <span th:text="${reply?.notifierName}">某人</span>在
                        <a th:href="@{'/notification/'+${reply?.id}}"><span th:text="${reply?.outerTitle}">某篇文章</span></a>
                        <span th:text="${reply?.typeName=='回复主贴'?'回复了您':''}">回复主贴</span>
                        <span th:text="${reply?.typeName=='回复评论'?'中回复了您的评论':''}">回复评论</span>
                        <span th:text="${reply?.typeName=='点赞主贴'?'点赞了您':''}">点赞主贴</span>
                        <span th:text="${reply?.typeName=='点赞评论'?'中点赞了您的评论':''}">点赞评论</span>
                         时间：<span th:text="${#dates.format(reply?.gmtCreate,'yyyy-MM-dd HH-mm-ss')}"></span>
                    </li>


                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage&&pagination.lastPage>=5}">
                            <a th:href="@{/profile/replies (page=1)}">
                                <span aria-hidden="true" >&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious||pagination.lastPage<5}">
                            <a th:href="@{/profile/replies (page=${pagination.curPage-1})}">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li  th:each="page:${pagination.pages}" th:class="${page==pagination.curPage?'active':''}">
                            <a  th:href="@{/profile/replies (page=${page})}"
                            ><span th:text="${page}">1 (current)</span></a>
                        </li>
                        <li th:if="${pagination.showNext||pagination.lastPage<5}">
                            <a th:href="@{/profile/replies (page=${pagination.curPage+1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <!--                    <li th:class="${pagination.showLastPage?'':'disabled'}">-->
                        <li th:if="${pagination.showLastPage&&pagination.lastPage>=5}">
                            <a th:href="@{/profile/replies (page=${pagination.lastPage})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/mypub" class="list-group-item" th:class="${section.equals('mypub')?'list-group-item list-group-item-info':'list-group-item '}" >
                    我的发布
                </a>
                <a href="/profile/replies" class="list-group-item" th:class="${section.equals('replies')?'list-group-item list-group-item-info':'list-group-item '}">
                    <span class="badge" th:text="${session.unreadCount}">14</span>动态消息</a>
                <a href="#" class="list-group-item" th:class="${section.equals('gerenzil')?'list-group-item list-group-item-info':'list-group-item '}">
                    <span class="badge">14</span>个人资料</a>
                <a href="#" class="list-group-item" th:class="${section.equals('safg')?'list-group-item list-group-item-info':'list-group-item '}">
                    <span class="badge">14</span>个人设置</a>
                <a href="#" class="list-group-item" th:class="${section.equals('agasg')?'list-group-item list-group-item-info':'list-group-item '}">
                    <span class="badge">14</span>Vestibulum at eros</a>
            </div>

        </div>
    </div>

</div>
</body>
</html>